@import '../abstract/variables';
@import '../abstract/mixins';

footer {
  @include displayFlex(column, center, center);
  background-color: $secondary-color;
}

.socialIcons {
  width: 90%;
  height: 15vh;
  @include displayFlex(row, space-between, center);

  color: $text-color;
}

.icons {
  @include displayFlex(row, space-between, center);
  width: 15%;

  a {
    color: $text-color;
    font-size: 1.5rem;
    transition: color 0.3s;

    &:hover {
      color: $link-hover;
    }
  }
}

.license {
  @include displayFlex(row, center, center);
  width: 100%;
  height: 8vh;
  background-color: $bg-black;
  color: $text-color;
}

@include breakpoint (small) {
  .socialIcons {
    height: 8vh;
  }

  .icons {
    width: 40%;
  }

  .license {
    height: 5vh;

    p {
      font-size: 0.8rem;
    }
  }
}

@include breakpoint (large) {
  .socialIcons {
    height: 8vh;
  }

  .icons {
    width: 30%;
  }

  .license {
    height: 6vh;

    p {
      font-size: 1rem;
    }
  }
}