$primary-color: linear-gradient(90deg, #001B2F 0%, #005695 100%);
$secondary-color: #005695;

$box-shadow: 0 0 10px $secondary-color;
$shadow-botton: 0 8px 10px -8px $secondary-color;
$borderRadius: 20px;

$bg-black: #000000;
$bg-card: #B3CDDF;
$bg-body: #f0f8ff;

$text-color: #ffffff;
$link-hover: #B8F7FE;