@import '../../GlobalStyle/colors';
@import '../../GlobalStyle/mixins';

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  padding: 0 2%;
}

.congratulations {
  padding: 30px;
  width: 50%;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: $secondary-color;
    line-height: 1.5;
  }
}

.registerSection {
  width: 35%;
  height: 65vh;
  border-radius: 15px;
  padding: 1.5rem;
  background-color: aliceblue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  h4 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.formRegister {
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      padding: 10px 50px;
      border: none;
      border-radius: 10px;
      background-color: $secondary-color;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 1rem;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}

.formInput {
  padding: 10px 30px;
  margin-bottom: 10px;
  border: solid 1px $secondary-color;
  border-radius: 15px;
  width: 100%;


  &::placeholder {
    color: $secondary-color;
  }

  &:focus {
    outline: none;
    border: solid 1px $primary-color;
  }

  &::placeholder {
    color: $secondary-color;
  }

  &:focus {
    outline: none;
    border: solid 1px $primary-color;
  }
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    height: 100%;
  }

  .congratulations {
    width: 90%;
    padding: 1rem;
    text-align: center;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .registerSection {
    width: 90%;
    height: 60vh;
    margin-top: 1rem;
  }
}