@import '../../GlobalStyle/colors';
@import '../../GlobalStyle/mixins';

.mainContent {
  @include displayFlex(column, center, center);
  height: 90vh;

  h2 {
    font-weight: 400;
  }
}

.registrationSection {
  @include displayFlex(column, center, center);
  @include boxShadow;
  @include borderRadius;
  padding: 20px;
  width: 30%;
  margin-top: 30px;

  button {
    padding: 10px 50px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: $secondary-color;
    color: white;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}

.bookInfo {
  @include displayFlex(row, center, center);
  height: 15vh;
  gap: 1rem;

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $secondary-color;
  }
}

.registrationForm {
  @include displayFlex(column, center, center);
  width: 80%;
}

.formInput {
  padding: 10px 30px;
  margin-bottom: 10px;
  border: solid 1px $secondary-color;
  border-radius: 15px;
  width: 100%;
}

@media (max-width: 768px) {
  .mainContent {
    height: 70vh;

    h2 {
      text-align: center;
      width: 90%;
    }
  }

  .bookInfo {
    height: 10vh;
    width: 100%;

    h3 {
      font-size: 1rem;
    }
  }

  .registrationSection {
    width: 90%;
  }

  .formInput {
    width: 100%;
  }
}