@import '../../styles/variables/colors';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-card;
  margin: 1rem;
  width: 100%;
  height: 40vh;
  border-radius: 10px;

  img {
    height: 12vh;
  }

  p {
    width: 75%;
    height: 15vh;
    margin-top: 1rem;
  }
}