@import '../../GlobalStyle/colors';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-card;
  margin: 1rem;
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  img {
    height: 12vh;
  }

  p {
    width: 75%;
    height: 15vh;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 800px) and (max-width: 1280px) {
  .card {
    width: 80%;
    height: 30vh;
    align-items: center;

    img {
      height: 10vh;
      margin-top: 5rem;
    }
  }
}