@import '../../styles/variables/colors';

.banner {
  height: 80vh;
  width: 100%;
  background-image: url('../../assets/img/banner.png');
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  h2 {
    color: $text-color;
    width: 25%;
    margin-left: 5%;
    font-size: 2rem;
  }
}

.contentCard {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 2.5rem;

  h3 {
    margin: 1.5rem;
    font-size: 2rem;
    color: $secondary-color;
  }
}

.cards {
  display: flex;
  text-align: center;
  margin: 1rem;
}