@use '../../styles/abstract/variables' as *;
@use '../../styles/abstract/mixins' as *;

header {
  @include displayFlex(row, space-between, center);
  height: 15vh;
  width: 100%;
  padding: 0 2rem;
  background: $primary-color;
}

.logoIcon {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 20%;
    padding-bottom: 1rem;
  }

  h1 {
    color: $text-color;
  }
}

.toggleButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: $text-color;
}

.navegation {
  ul {
    display: flex;
    justify-content: space-between;
    width: 30vw;
  }

  li {
    a {
      color: $text-color;

      &:hover {
        color: $link-hover;
        text-shadow: 1px 1px 1px $link-hover;
      }
    }
  }

  &.active {
    display: block;
  }
}

.searchBar {
  display: flex;
  justify-content: space-between;
  width: 18vw;
  border: solid 2px $text-color;
  border-radius: 20px;

  input {
    border: none;
    width: 100%;
    background: transparent;
    color: $text-color;
    padding: 0.5rem;
    outline: none;

    &::placeholder {
      color: #d5d3d3;
    }
  }

  button {
    background: transparent;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

@include breakpoint(small) {
  header {
    @include displayFlex(row-reverse, space-between, center);
    padding: 0 1rem;
  }

  .logoIcon {
    width: 68%;
    height: 8vh;
    padding-top: 0.5rem;

    img {
      width: 18%;
    }

    h1 {
      font-size: 1rem;
    }
  }

  .navegation {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: $primary-color;
    margin: 3rem 0;

    ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 0;
      
      li {
        padding: 1rem;
        text-align: center;
      }
    }
  }

  .toggleButton {
    display: block;
  }

  .searchBar {
    display: none;
  }
}

@include breakpoint(large) {
  header {
    height: 10vh;
  }

  .logoIcon {
    img {
      width: 20%;
    }

    h1 {
      font-size: 1rem;
    }
  }

  .navegation {
    ul {
      width: 40vw;
    }
  }

  .searchBar {
    display: none;
  }
}