@import '../../styles/variables/colors';

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  background: $primary-color;
}

.logoIcon {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  h1 {
    color: $text-color;
    font-size: 1.8rem;
  }

  img {
    width: 8vh;
  }
}


.navegation {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $text-color;

      &:hover {
        color: $link-hover;
        transition: color 0.3s ease;
        text-shadow: 0 0 5px $link-hover;
      }
    }
  }
}

.searchBar {
  display: flex;
  justify-content: space-between;
  border: solid 1px $text-color;
  padding: 8px 12px;
  border-radius: 12px;

  input {
    background: transparent;
    border: none;
    outline: none;
    color: $text-color;

    &::placeholder {
      color: #ffffffb1;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    background: transparent;
    border: none;
    color: $text-color;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}