@import '../../GlobalStyle/colors';
@import '../../GlobalStyle/mixins';

.containerBook {
  @include displayFlex(column, center, center);
  @include borderRadius(25px);
  @include boxShadow;
  text-align: center;
  padding: 2rem;
  width: 18vw;
  height: 40vh;

  img {
    width: 100%;
    padding: 1rem;
  }

  h3 {
    width: 100%;
  }

  h4 {
    color: $secondary-color;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .containerBook {
    width: 50%;
  }
}