@import '../../GlobalStyle/colors';
@import '../../GlobalStyle/mixins';

.containerBook {
  @include displayFlex(column, center, center);
  background-color: aliceblue;
  text-align: center;
  width: 18vw;
  height: 40vh;
  margin: 1rem;

  img {
    width: 60%;
    padding: 1rem;
  }

  h3 {
    width: 100%;
  }

  h4 {
    color: $secondary-color;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .containerBook {
    width: 75vw;
  }
}